
.error-return-btn{
   padding-top: 20px;
}
.error img{
    width:400px;
    height:400px;
}
.error-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
}
.error-section h3{
    font-size: 40px;
    color:#007AFF;
    font-weight: 700;
}
.error-section p{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
}
.error-btn{
    color:#FFFFFF;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: all .5s;
    border-width: 2px;
    text-align:center;
    background-color: #0b5ed7;
    border: none;
}
